a {
    color: #221f4c;
}
a:hover, .dropdown:hover {
    color: IndianRed;
    text-decoration: underline;
}

body {
    background-color:#f6f3e4;
}

#bookCounter {
    font-size: 35px;
    text-align: center;
    background-color: #a1582c;
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.btn-default, .dropdown-toggle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #221f4c;
    text-align: center;
    cursor: pointer;
}

button {
    width: 100%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b9f;
    border:0;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
}

.carousel-control-prev {
    left: auto;
    right: auto;
}

.carousel-control-next {
    right: 0;
    left: auto;
}

.contacts {
    background-color: #d55d91;
    color: #100f10;
    padding: 50px 0;
}

.contacts-content {
    padding-left: 50px;
    color: #f6f3e4;
}
.contacts .col-xs-12 p {
    padding-left: 20px !important;
    color: #f6f3e4;
}

.contacts h3 {
    color: #faf8f7;
    padding-left: 20px;
}

.contacts ul {
    list-style: none;
    color: #f6f3e4;
    padding: 0;
}

.contacts ul li {
    margin-bottom: 10px;
    color: #e3dfdd;
    padding-left: 20px;
}

.contacts ul li a:hover {
    text-decoration: underline;
    color: azure;
}

.content {
    padding: 16px;
    color: #424242;
    justify-content: center;
}

.featured {
    margin-left: 5%;
    margin-right: 5%;
}

fieldset {
    margin: 3% 3%;
}

form {
    width: 75vw;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: rgba(0,50, 100, 0.45);
}

.footer {
    padding: 4px;
    margin: 4px;
    border: 1px dotted black;
}

.footer span {
    font-weight: bold;
}

img {
    width: 100%;
}

input {
    margin-top: 5px;
    display: block;
}

input[type="submit"]{
    margin: 0 auto;
    font-size: 1.1rem;
    background-color: #3b3b9f;
    color:white;
    border:0;
}

input[type="checkbox"], input[type="radio"] {
    display:inline;
    font-size: 14px;
}

label {
    display: block;
    margin: 0.5rem 0.5rem;
    font-size: 14px;
}

#main_about h2 {
    font-size: 2em;
    text-align: center;
}

#main_about p {
    font-size: 1.2em;
    text-align: center;
}

.main_logo {
    margin: 0.5em auto -1.5em;
    width: 100px;
}

#map {
    height: 400px;
}

.member-info h4 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
@media only screen and (min-width: 320px) {
    .button, .btn-default, .navigation, .nav{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #221f4c;
        text-align: center;
        cursor: pointer;
        padding: 3px;
        justify-content: center;
    }

    #main {
        padding:2em;
        color: #221f4c;
        margin-top: -2em;
    }

    #main_about {
        padding: 2em;
        color: #221f4c;
    }

    #main_img {
        padding:2em;
        margin-top: -2em;
    }

    .row {
        margin-top:1em;
    }

    .team-member {
        margin: 1.5%;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
}


@media only screen and (min-width: 768px) {
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: IndianRed;
        height: 100%;
        width: 100px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        color: black;
    }
    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #explore {
        width: 66%;
    }

    #main {
        width:66%;
        padding: 2em;
        color: #221f4c;
    }

    #main_about {
        padding: 2em;
        color: #221f4c;
    }

    #main_img {
        padding: 2em;
        background-image: url('images/flying_book.png');
        background-position: right top;
        background-repeat: repeat-y;
    }

    .member-info {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        height: 100%;
        margin-top: 5px;
        padding-right: 1px;
        padding-left: 1px;
        overflow: hidden;
    }

    #teamCarousel {
        margin: 0 auto;
        max-width: 800px;
    }

    .team-member {
        padding: 20px;
        border: 4px solid #b65368;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        max-width: 600px;
    }

    .team-member img {
        max-width: 50%;
        height: auto;
        float: left;
    }

    #two_sides {
        background: url(images/flying_book.png) right top repeat-y, url(images/flying_book.png) left top repeat-y;
    }
}

.navigation {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #221f4c;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    margin: 24px;
    border-bottom: medium solid #221f4c;
}
.navigation .nav {
    padding: 4px;
    justify-content: center;
}

.nav {
    vertical-align: middle;
    display: inline;

}

.team-members-container {
    margin: 0 auto;
    max-width: 1800px;
}


.team-member img {
        max-width: 100%;
        height: auto;
}

textarea {
    margin-top: 10px;
    width: 100%;
    min-height: 2em;
}

